com.smartitengineering.smart-dao.smart-version.jgit.connection.driver_class=org.apache.derby.jdbc.EmbeddedDriver
com.smartitengineering.smart-dao.smart-version.jgit.connection.url=jdbc:derby:target/TestDB;create=true;
com.smartitengineering.smart-dao.smart-version.jgit.connection.username=
com.smartitengineering.smart-dao.smart-version.jgit.connection.password=
com.smartitengineering.smart-dao.smart-version.jgit.dialect=org.hibernate.dialect.DerbyDialect
com.smartitengineering.smart-dao.smart-version.jgit.show_sql=true
com.smartitengineering.smart-dao.smart-version.jgit.autoCommit=true
com.smartitengineering.smart-dao.smart-version.jgit.hbm2ddl.auto=create-drop
com.smartitengineering.smart-dao.smart-version.jgit.query.substitutions=true 'T', false 'F'
